<div class="column">
  <div class="img_slider">
  <!-- {% for item in site.data[page.lang].lang["slick"]["pics"] %}
      <img src="{{ item.pic }}">
    {% endfor %} -->
  	<img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/assets/img/intervista_mare_milano.jpg">
  	<img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/assets/img/prototipo_segnaposto.jpg">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/assets/img/allergo_ki.jpg">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/assets/AK-home-img-01.jpg">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/assets/AK-home-img-02.jpg">
  </div>

  <!-- slider caption -->
  <p>{{ site.data[page.lang].lang["slick"]["description"] }}</p>
</div>
