<!-- content -->
<div class="row no-border">
  {% for item in site.data[page.lang].lang["tutorials"]["tutorial_column"] %}
    <div class="column tutorials">
      <a href="{{ item.link }}">
        <img src="{{ item.img_url }}">
      </a>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
  {% endfor %}
</div>

<!-- link to more -->
{% for item in site.data[page.lang].lang["tutorials"]["more_link"] %}
  <p style="text-align: center;">
    <a href="{{ item.link }}"><em>{{ item.text }} &raquo;</em></a>
  </p>
{% endfor %}


<!--
<h2><strong>Segnalatore allergie</strong></h2>
</div>
<div class="column tutorials">
  <a href="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/disegni.jpg">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/disegni.jpg">
  </a>
  <h3>Sketches</h3>
</div>
<div class="column tutorials">
  <a href="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/mockup.jpg">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/mockup.jpg">
  </a>
  <h3>Quick and dirty mockup</h3>
</div>

<div class="column tutorials">
  <a href="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/pezzi_prototipo.gif">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/pezzi_prototipo.gif">
  </a>
  <h3>Prototype components</h3>
</div>

<div class="column tutorials">
  <a href="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/segnaposto.jpg">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/segnaposto.jpg">
  </a>
  <h3>Final prototype</h3>
</div> -->