<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->
<div>
<h2>Segnalatore allergie</h2>
</div>
<div class="column tutorials">
  <a href="http://www.google.com">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/disegni.jpg">
  </a>
  <h3>1.0 Sketches</h3>
<!--   <p>This is a brief description of Tutorial 1</p> -->
</div>
<div class="column tutorials">
  <a href="http://www.google.com">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/mockup.jpg">
  </a>
  <h3>1.1 Quick and dirty mockup</h3>
<!--   <p>This is a brief description of Tutorial 2</p> -->
</div>

<div class="column tutorials">
  <a href="http://www.google.com">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/pezzi_prototipo.gif">
  </a>
  <h3>1.3 Prototype components</h3>
<!--   <p>This is a brief description of Tutorial 3</p> -->
</div>

<div class="column tutorials">
  <a href="http://www.google.com">
    <img src="https://raw.githubusercontent.com/opencarecc/allergoki/gh-pages/img/segnaposto.jpg">
  </a>
  <h3>1.2 Final prototype</h3>
<!--   <p>This is a brief description of Tutorial 3</p> -->
</div>


<!-- <span style="width:100%;text-align:center;margin-top:1rem;"><a href=""><em>Check all the tutorials »</em></a></span>  -->